POSTGRES_DB=clinical_history
POSTGRES_USER=clinical_history
POSTGRES_PASSWORD=change_me
AUDIT_ENCRYPTION_KEY=reemplace_con_una_clave_base64_de_32_bytes
AUDIT_RETENTION_YEARS=10
SECURITY_MODE=local
JWT_ISSUER_URI=
JWT_AUDIENCE=clinical-history-service
LOCAL_PROFESSIONAL_ID=1
LOCAL_PROFESSIONAL_NAME=Profesional local
LOCAL_PROFESSIONAL_LICENSE=LOCAL
